{% extends 'billing/base.html' %}

{% block content %}
 
    <div style="margin-top: 100px; margin-left: 400px;">
        <h1>Generate Electricity Consumption Report </h1>
        <br>
        <form>
            <label>Customer ID: </label>
            <input type="text" >
            <br>
            <label> Email Address: </label>
            <input type="email">
            <br>
            <br>
            <button class="btn btn-primary" onclick="generateReport()">Generate Report</button>
        </form>

        <br>

        <div id="electricityReport" aria-hidden="true">
            <p>Units of Electricity consumed in last month: 3000</p>
            <p>Payment Status: True/False</p>
        </div>
        
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

    <script>
        window.onload = (event) => {
            document.getElementById('electricityReport').style.visibility = "hidden";
        };

        function generateReport() {
            event.preventDefault();
            document.getElementById('electricityReport').style.visibility = "visible";
        }
    </script>    
{% endblock %}